{% extends 'base.html' %}
{% block title %} Brain tumor prediction {% endblock title %}
{% block body %}
<div class="container my-1 px-1">
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Tumor report</h5>
      <h6 class="card-subtitle mb-2 text-muted">prediction : Glioma Tumor </h6>
      <p class="card-text"></p>
      <a href="/brain_tumor" class="card-link">retest</a>
      <a href="/" class="card-link">nearby neurosurgeons</a>
    </div>
  </div>
</div>
{% endblock body %}