{% extends 'base.html' %}
{% block title %}contact {% endblock title %}
{% block body %}
<div class="container my-1 px-1">
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Liver Cirrhosis positively predicted<br> <br> <br> Suggested Hospitals: <br><br> Kokilaben Dhirubhai Ambani Hospital, Medanta Hospital, Fortis Escorts Heart Institute, Indraprastha Apollo Hospital, Artemis Hospital</h5>
      <h6 class="card-subtitle mb-2 text-muted"></h6>
      <p class="card-text"></p>
      <a href="\cirrhosis" class="card-link">retest</a>
      <a href="#" class="card-link">doctors nearby</a>
    </div>
  </div>
</div>
{% endblock body %}
