{% extends 'base.html' %}
{% block title %}links {% endblock title %}
{% block body %}
<div class="container my=1 px-1">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">title</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="https://sfamjournals.onlinelibrary.wiley.com/doi/10.1111/jam.13929" class="btn btn-outline-dark">Shift in skin microbiota of Western European women across aging</a></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7769076/" class="btn btn-outline-dark">The Skin Interactome: A Holistic “Genome-Microbiome-Exposome” Approach to Understand and Modulate Skin Health and Aging</a></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><a href="https://www.personalcareinsights.com/news/microbiome-as-the-next-big-thing-expert-says-consumers-deserve-better-as-misconceptions-pervade.html" class="btn btn-outline-dark">Microbiome as the next big thing? Expert says “consumers deserve better” as misconceptions pervade</a></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td><a href="https://www.mdpi.com/2075-1729/12/7/936/htm#B43-life-12-00936" class="btn btn-outline-dark">How Microbiomes Affect Skin Aging: The Updated Evidence and Current Perspectives</a></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td><a href="https://www.nature.com/articles/s41598-017-10834-9" class="btn btn-outline-dark">Aging-related changes in the diversity of women’s skin microbiomes associated with oral bacteria</a></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td><a href="https://www.mdpi.com/2076-0817/11/2/121" class="btn btn-outline-dark">Advances in Microbiome-Derived Solutions and Methodologies Are Founding a New Era in Skin Health and Care</a></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td><a href="https://www.nature.com/articles/s41598-021-95734-9" class="btn btn-outline-dark">Taxonomic profiling of skin microbiome and correlation with clinical skin parameters in healthy Koreans</a></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td><a href="https://journals.asm.org/doi/10.1128/mBio.00839-19" class="btn btn-outline-dark">New Insights into the Intrinsic and Extrinsic Factors That Shape the Human Skin Microbiome</a></td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td><a href="https://www.nature.com/articles/s41598-021-83922-6" class="btn btn-outline-dark">Explainable AI reveals changes in skin microbiome composition linked to phenotypic differences</a></td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td><a href="https://www.sciencedirect.com/science/article/pii/S0022202X21026038" class="btn btn-outline-dark">Aging-Associated Changes in the Adult Human Skin Microbiome and the Host Factors that Affect Skin Microbiome Composition</a></td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td><a href="https://microbiomejournal.biomedcentral.com/articles/10.1186/s40168-020-00963-1#Sec20" class="btn btn-outline-dark">A mixed community of skin microbiome representatives influences cutaneous processes more than individual members</a></td>
          </tr>
        </tbody>
      </table>
</div>
{% endblock body %}